/********Media queries********/
@media (max-width: 575.98px) { 
    .navbar-collapse a img {
        height: 60px;
    }
    .slogan .col-md-7 h1 {
        font-size: 2.5rem;
    }
    .about-us .lead {
        font-size: 20px;
        margin-right: 5px;
    }
    .our-works .btn {
        width: 230px;
        font-size: 23px;
    }
    /*.card-carousel .my-card {
        width: 80px;
    }*/
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .slogan .col-md-7 h1 {
        font-size: 2.5rem;
    }
    
    /*.card-carousel .my-card {
        width: 80px;
    }*/
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    
    /*.card-carousel .my-card {
        width: 90px;
    }*/
}
     
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .one-app-intro img {
        width: 800px;
    }
    /*.card-carousel .my-card {
        width: 120px;
    }*/
 }

 @media (min-width: 1200px) and (max-width: 1289.98px) {
    /*.one-app-intro img {
        width: 800px;
    }*/
 }

 @media (min-width: 1290px) {
    /*.one-app-intro img {
        width: 800px;
    }*/
 }